body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Contenedor padre */
.contenedor-principal {
  padding: auto;
  position: relative;
  height: 100vh;
  object-position: center;    
  background-image: url("imagenes/maquetado.webp");
  object-fit: cover;  
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; /* Evita que el contenido se sobresalga */
}

/* Cuadro azul semitransparente */
.cuadro {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(23, 59, 82, 0.8);
  z-index: 1;
}

/* Contenedor del texto */
.contenido {
  position: relative;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  max-width: 40%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.contenido h1 {
  margin: 0 0 20px 0;
  font-size: 2.5rem;
  text-align: left;
}

.contenido p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: left;
}

.contenido button {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #2ecc71;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.contenido button:hover {
  background-color: #27ae60;
}

/* Franja azul inferior */
.franja-azul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #008b9e;
  color: white;
  text-align: center;
  padding: 25px 0;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  z-index: 3;
}

.franja-azul strong {
  font-weight: bold;
}
